h1 {
    text-align: center;
}

h1 {
    background-color: rgb(54, 54, 54);
}
header {
    color: whitesmoke;
}

.here {
    border: solid black;
    border-radius: 5px;
    height: 400px;

}
.border {
    border: solid gray;
    border-radius: 5px;
}
.cardborder {
    background-color: dodgerblue;
    margin: 1%;
    border-radius: 10%;
    color: whitesmoke;
}
.fontstyle {
    font-weight: bold;
}